---
import Article from "../components/Article.astro";
import Card from "../components/Card.astro";
import PageTitle from "../components/PageTitle.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "熊野クロウについて";

const experienceContent = [
  "HTML5",
  "CSS3",
  "JavaScript",
  "jQuery",
  "Bootstrap",
  "React",
  "Java",
  "PostgreSQL",
  "WordPress",
];

const certificationContent = [
  "国連英検B級,C級(C級成績優秀者)",
  "英検準一級",
  "TOEIC L&R: 970点(L満点)",
  "基本情報技術者試験",
  "色彩検定2級",
  "Next up: PM系資格受験を検討中",
];

const techStackContent = ["Astro", "Sanity", "React", "TypeScript"];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="about-layout glb-page-container glb-u-mb-36">
    <PageTitle pageTitle={pageTitle} className="glb-u-bg-light-yellow" />
    <Article title="イラストの経歴" className="illust-box">
      <p>
        2015年頃よりイラストレーターとして活動開始。NBA雑誌月刊HOOP寄稿、バスケTシャツ展など。
      </p>
      <p>
        2018年
        イラストを描くことをやめていた時期に桜花賞のテレビ中継を見てアーモンドアイに衝撃を受け、再び筆をとる。ステイゴールド一族に魅了される。
      </p>
      <p>2019年 メロディーレーンに出会う。</p>
      <p>2020年 「今日のメロちゃん」シリーズ開始。タイトルホルダーに出会う。</p>
      <p>
        2021年〜
        メロディーレーンメンコ、タイトルホルダー菊花賞勝利記念品等にイラスト提供
      </p>
      <p>
        その他競馬関係者の方にご依頼いただくなどして、イラスト提供をしています。
      </p>
      <p>
        お仕事のご依頼は
        <a href="/contact" class="glb-decorated-link">
          ご連絡情報ページをご覧ください
        </a>
      </p>
    </Article>
    <Article title="エンジニアの経歴" className="engineer-box">
      <div class="engineer-text-container">
        <p>
          海外の学習サイトでHTML5,
          CSS3から学び始め、マークアップエンジニアとしての経験や友人のWebサイト制作を通じてフロントエンドの楽しさに目覚めました。
          「使いやすさ」や「迷わない導線」など、UXを意識したUIを確立された理論を以て設計したいと考え、大学に社会人入学して情報コース（マルチメディア系）に所属し、心理学とWebアクセシビリティを学びました。
        </p>
        <p>
          その後、事務職で業務効率化・業務改善を自主的に追求し、GAS・VBAマクロや、Pythonによる業務アプリ開発を行ったことをきっかけに、本格的にエンジニアを目指すようになりました。
        </p>
        <p>
          フルスタックエンジニアとしては、Reactを用いた画面の設計・実装と、Java＋PostgreSQLによるAPI・DB設計・実装などを担当。バックエンドの制約やデータ構造を理解したうえで、フロント側の情報設計や仕様検討ができるようになりました。
          デバッグは業務の中でも特に楽しかった工程で、ミステリー小説を読むような感覚で「なぜこの挙動になるのか？」「なぜこのバグが発生したのか？」と仮説を立ててログを追い、原因が一本の線でつながる瞬間に大きなやりがいを感じます。
          その過程で、リファクタリング等を適切に行なったメンテナンス性の高いコードの重要性を実感し、日々より良いコードを書けるよう意識しています。
        </p>
        <p>
          現在は、生成AIを用いた開発も実践しながら「AI時代の価値あるエンジニアとは何か」を模索し、日々の学習に努めています。
          座学では、MOOC（edX,
          Coursera）やUdemy、英語圏のカンファレンス動画などを活用して、継続的に学習しています。
        </p>
        <p>
          マークアップエンジニア: 1年, フルスタックエンジニア: 2年〜,
          その他業務委託等で合計5年ほど開発・業務改善に携わってきました。
        </p>
      </div>
      <div class="glb-u-grid-3 glb-u-mt-16">
        <Card
          className="glb-u-bg-light-yellow col-3-1"
          cardTitle="経験した技術"
          listContent={experienceContent}
        />
        <Card
          className="glb-u-bg-light-yellow col-3-1"
          cardTitle="取得資格"
          listContent={certificationContent}
        />
        <Card
          className="glb-u-bg-light-yellow col-3-1"
          cardTitle="本サイト技術スタック"
          listContent={techStackContent}
        />
      </div>
    </Article>
    <Article title="好きなもの" className="personal-box">
      <p>
        好きな馬はメロディーレーン＆タイトルホルダーきょうだい(シーガルワールドちゃんデビュー待機)
      </p>
      <p>
        ステイゴールド一族、ドゥラメンテ＆産駒、アーモンドアイ＆産駒を応援しています。
      </p>
      <p>Mind Your Biscuitsも好き。</p>
      <p>最近の好きなものは美術、ミステリー小説、ゴジラ、編み物。</p>
    </Article>
  </div>
</BaseLayout>

<style>
  .about-layout {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
  }

  .engineer-text-container p {
    margin-bottom: 0.5rem;
  }
</style>
