---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import SocialLinksSection from "../components/SocialLinksSection.astro";
import SocialBanner from "../components/SocialBanner.astro";
import NotificationBox from "../components/NotificationBox.astro";

const pageTitle = "SNS・ご連絡情報";
const illustBanners = [
  {
    href: "https://x.com/shirokumanocrow",
    src: "/images/social/x_banner.svg",
    alt: "X Logo",
    label: "X (Twitter)",
  },
  {
    href: "https://www.instagram.com/crow_k/",
    src: "/images/social/instagram_banner.svg",
    alt: "Instagram Logo",
    label: "Instagram",
  },
  {
    href: "https://www.threads.com/@crow_k",
    src: "/images/social/threads_banner.svg",
    alt: "Threads Logo",
    label: "Threads",
  },
  {
    href: "https://www.youtube.com/@crow_k",
    src: "/images/social/youtube_banner.svg",
    alt: "YouTube Logo",
    label: "YouTube",
  },
];
const techBanners = [
  {
    href: "https://github.com/crow-kuma",
    src: "/images/social/github_banner.svg",
    alt: "GitHub Logo",
    label: "GitHub",
  },
];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="contact-layout glb-page-container glb-u-mb-36">
    <PageTitle pageTitle={pageTitle} className="glb-u-bg-pale-light-pink" />
    <SocialLinksSection
      title="イラスト"
      tabClass="glb-u-bg-light-pink"
      gridClass="glb-u-bg-pale-light-pink"
      gridColumns={4}
    >
      {
        illustBanners.map((banner) => (
          <SocialBanner
            href={banner.href}
            src={banner.src}
            alt={banner.alt}
            label={banner.label}
          />
        ))
      }
    </SocialLinksSection>
    <SocialLinksSection
      title="Tech"
      tabClass="glb-u-bg-light-pink"
      gridClass="glb-u-bg-pale-light-pink"
      gridColumns={4}
    >
      {
        techBanners.map((banner) => (
          <SocialBanner
            href={banner.href}
            src={banner.src}
            alt={banner.alt}
            label={banner.label}
          />
        ))
      }
    </SocialLinksSection>
    <NotificationBox />
  </div>
</BaseLayout>

<style>
  .contact-layout {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
  }
</style>
