---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import LinksSection from "../components/LinksSection.astro";
import LinkBanner from "../components/LinkBanner.astro";
import NotificationBox from "../components/NotificationBox.astro";
import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";
import { createImageUrlBuilder } from "@sanity/image-url";
import type { SanityImageSource } from "@sanity/image-url";

interface LinkBannerData extends SanityDocument {
  name: string;
  url: string;
  category: string;
  icon?: SanityImageSource;
}

const pageTitle = "SNS・ご連絡情報";

const SOCIAL_QUERY = `*[_type == "social"] | order(category asc)`;

const social = await sanityClient
  .fetch<LinkBannerData[]>(SOCIAL_QUERY)
  .catch(() => []);

const { projectId, dataset } = sanityClient.config();

const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;

const formattedSocial = social.map((banner) => ({
  ...banner,
  iconUrl: banner.icon ? (urlFor(banner.icon)?.url() ?? "") : "",
}));

const illustBanners = formattedSocial.filter(
  (banner) => banner.category === "illustration"
);
const techBanners = formattedSocial.filter(
  (banner) => banner.category === "tech"
);
const otherBanners = formattedSocial.filter(
  (banner) => banner.category === "other"
);
---

<BaseLayout pageTitle={pageTitle}>
  <div class="contact-layout glb-page-container glb-u-mb-36">
    <PageTitle pageTitle={pageTitle} className="glb-u-bg-pale-light-pink" />
    <LinksSection
      title="イラスト"
      tabClass="glb-u-bg-light-pink"
      gridClass="glb-u-bg-pale-light-pink"
      gridColumns={4}
    >
      {
        illustBanners.map((banner) => (
          <LinkBanner
            href={banner.url}
            src={banner.iconUrl}
            alt={banner.name}
            label={banner.name}
          />
        ))
      }
    </LinksSection>
    <LinksSection
      title="Tech"
      tabClass="glb-u-bg-light-pink"
      gridClass="glb-u-bg-pale-light-pink"
      gridColumns={4}
    >
      {
        techBanners.map((banner) => (
          <LinkBanner
            href={banner.url}
            src={banner.iconUrl}
            alt={banner.name}
            label={banner.name}
          />
        ))
      }
    </LinksSection>
    <LinksSection
      title="Other"
      tabClass="glb-u-bg-light-pink"
      gridClass="glb-u-bg-pale-light-pink"
      gridColumns={4}
    >
      {
        otherBanners.map((banner) => (
          <LinkBanner
            href={banner.url}
            src={banner.iconUrl}
            alt={banner.name}
            label={banner.name}
          />
        ))
      }
    </LinksSection>
    <NotificationBox />
  </div>
</BaseLayout>

<style>
  .contact-layout {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
  }
</style>
