---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import { createImageUrlBuilder } from "@sanity/image-url";
import type { SanityImageSource } from "@sanity/image-url";

import BaseLayout from "../layouts/BaseLayout.astro";
import BackgroundSlideshow from "../components/BackgroundSlideshow.astro";
import NewsBox from "../components/NewsBox.astro";

const ARTWORK_QUERY = `*[_type == "artwork" && topPage == true]`;
const artwork = await sanityClient
  .fetch<SanityDocument[]>(ARTWORK_QUERY)
  .catch(() => []);

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;
const artworkImageUrl = artwork
  .filter((art) => art.image)
  .map((artwork) => urlFor(artwork.image)?.url())
  .filter((url): url is string => url !== null && url !== undefined);

const durationPerSlide = 10;
const totalDuration = artworkImageUrl.length * durationPerSlide;

const pageTitle = "Kumano Crow";
---

<BaseLayout pageTitle={pageTitle}>
  <BackgroundSlideshow
    artworkImageUrl={artworkImageUrl}
    totalDuration={totalDuration}
    durationPerSlide={durationPerSlide}
  />

  <main class="glb-page-container">
    <div class="hero-container">
      <div class="branding-wrapper">
        <h1 class="glb-title-font">{pageTitle}</h1>
      </div>
      <NewsBox />
    </div>
  </main>
</BaseLayout>

<style>
  .hero-container {
    min-height: calc(100vh - 88px);
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }

  @media (prefers-color-scheme: dark) {
    .hero-container {
      background-color: transparent !important;
    }
  }

  .branding-wrapper {
    min-height: 30vh;
    transform-origin: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .branding-wrapper h1 {
    display: inline-block;
    font-size: 2.5rem;
    line-height: 1.2;
    background-color: rgb(255 255 255 / 60%);
  }

  @media (width >= 768px) {
    .branding-wrapper h1 {
      font-size: 4rem;
    }
  }

  .branding-wrapper.is-active {
    animation: shrink 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  @keyframes shrink {
    0% {
      opacity: 0;
      transform: translateX(10vw) scaleX(1) scaleY(1) skew(-30deg);
    }

    10% {
      opacity: 1;
      transform: translateX(0) scaleX(1) scaleY(1) skew(0deg);
    }

    80% {
      transform: translateX(0) scaleX(0.8) scaleY(1.1) skew(0deg);
    }

    100% {
      transform: translateX(0) scaleX(1) scaleY(1) skew(0deg);
    }
  }
</style>

<script>
  const text = document.querySelector(".branding-wrapper");
  text?.classList.add("is-active");
</script>
